.search-box-input {
  @include typography($font-size-16, $regular-400, $primary-color);
  height: 52px;
  width: 100%;
  padding: 10px;
  border-width: $spacing-0;
  border-radius: $spacing-0 $border-radius $border-radius $spacing-0;
  outline: none;
  background-color: transparent;

  &::placeholder {
    @include typography($font-size-16, $regular-400, $accent-color);
  }
}
