.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;

  & > * {
    margin-right: $spacing-16;
  }

  & > *:last-child {
    margin-right: $spacing-0;
  }

  .search-box {
    
    width: 100%;
    margin: $spacing-16;
    border-radius: 32px;

    
  }

  @include media-query("medium") {
    flex-wrap: wrap;

    & > *:nth-child(2) {
      margin-right: $spacing-0;
    }
    & > *:nth-last-child(2) {
      margin-left: auto;
    }
  }

  @include media-query("small") {
    & > *:last-child {
      width: 100%;
      margin-top: $spacing-16;
    }

    & > *:nth-last-child(2) {
      width: 56px;
      flex-shrink: 0;
      margin-right: $spacing-0;
    }
  }
}
